header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 50px;
  margin-top: 10vh;
}

.month{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 50px;
  min-width: 270px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}
.right {
  transform: rotate(-45deg);
  /*-webkit-transform: rotate(-45deg);*/
  margin-right: 4px;
}

.left {
  transform: rotate(135deg);
  /*-webkit-transform: rotate(135deg);*/
  margin-left: 4px;
}

.square {
  width: 100%;
  min-width: 60px;
  height: 100%;
  min-height: 60px;
  background: white;
  display: flex;
  flex-direction: column;
  /*justify-content: left;*/
  /*align-items: center;*/
  color: #452215;
  box-shadow: 9px 1px 17px -3px rgba(42, 43, 52, 0.55);
  opacity: 0.8;
  border-radius: 4px;
  overflow: hidden;
}

.square:hover {
  opacity: 1;
  background: #eae9e9;
}

.title{
  font-weight: bold;
  border-radius: 5px;
}

.data{
  display: block;
  text-align: center;
  overflow-wrap: break-word;
}

.square_value {
  min-width: 20px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 9px 1px 17px -3px rgba(42, 43, 52, 0.2);
  background: rgba(197, 196, 196, 0.35);
}

.square_header{
  display: flex;
  align-items: baseline;
}

.holiday{
  background: #f7d7d7;
  color: #683111;
  font-size: 5px;
}

.square_data{
  padding: 5%;
  justify-content: center;
  align-items: center;
}

.day{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ead7bd;
  gap: 20px;
  color: #683111;
  box-shadow: 9px 1px 17px -3px rgba(42, 43, 52, 0.55);
  border-radius: 4px;
}

.calendar{
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Creates 7 columns of equal width */
  width: 100%;
  gap: 10px;
}

.App {
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  height: 100vh;
}

.editor{
  background: #e1c298;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  padding-top: 1vh;
  gap: 10px;
  font-size: 35px;
  opacity: 0.65;
  min-width: 180px;
  width: 30vw;
}

.name_day{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color_form{
  display: flex;
  gap: 15%;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  width: 20px;
  height: 15px;
}

.container input {
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0; /* Position at the top of the container */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for exact centering */
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  border: 2px solid black;
}

.container input:checked ~ .checkmark {
  border:2px solid black;
}

.main{
  width: 90vw;
  min-width: 480px;
  margin-left: 2vh;
  margin-right: 2vh;
}
